## Question 1

### Subquestion 1

In [1]:
import numpy as np

# Step 1 Generating the array
np.random.seed(0)
arr = np.random.randint(1, 51, size=(5, 4))

print("Array:\n", arr)
anti_diagonal = [arr[i, -i-1] for i in range(min(arr.shape))]

print("Anti-diagonal elements:", anti_diagonal)

Array:
 [[45 48  1  4]
 [ 4 40 10 20]
 [22 37 24  7]
 [25 25 13  2]
 [39 40 24 47]]
Anti-diagonal elements: [4, 10, 37, 25]

### Subquestion 2

In [2]:
row_max = np.max(arr, axis=1)
print("Maximum value in each row:", row_max)

Maximum value in each row: [48 40 37 25 47]

### Sub Question 3

In [5]:
mean_val = np.mean(arr)
filtered_elements = arr[arr <= mean_val]
print("Elements ≤ mean (", mean_val, ") are:", filtered_elements)

Elements ≤ mean ( 23.85 ) are: [ 1  4  4 10 20 22  7 13  2]

### Subquestion 4

In [ ]:
def numpy_boundary_traversal(matrix):
    if matrix.ndim != 2:
        raise ValueError("Input must be a 2D NumPy array.")
    
    rows, cols = matrix.shape
    boundary = []

    # Top row
    boundary.extend(matrix[0, :])

    # Right column (excluding the top element)
    if rows > 1:
        boundary.extend(matrix[1:rows-1, -1])

    # Bottom row
    if rows > 1:
        boundary.extend(matrix[-1, ::-1])

    # Left column (excluding top and bottom)
    if cols > 1:
        boundary.extend(matrix[rows-2:0:-1, 0])

    return list(boundary)

boundary_elements = numpy_boundary_traversal(arr)
print("Boundary elements in clockwise order:", boundary_elements)

Boundary elements in clockwise order: [45, 48, 1, 4, 20, 7, 2, 47, 24, 40, 39, 25, 22, 4]

## Question 2

### Subquestion 1

In [10]:
arr = np.random.uniform(0, 10, 20)
print("Original Array:", arr)
rounded_arr = np.round(arr, 2)
print("Rounded Array:", rounded_arr)

Original Array: [4.56150332 5.68433949 0.187898   6.17635497 6.12095723 6.16933997
 9.43748079 6.81820299 3.59507901 4.37031954 6.97631196 0.60225472
 6.66766715 6.7063787  2.10382561 1.28926298 3.15428351 3.63710771
 5.7019677  4.38601513]
Rounded Array: [4.56 5.68 0.19 6.18 6.12 6.17 9.44 6.82 3.6  4.37 6.98 0.6  6.67 6.71
 2.1  1.29 3.15 3.64 5.7  4.39]

### Subquestion 2

In [11]:
print("Min:", np.min(rounded_arr))
print("Max:", np.max(rounded_arr))
print("Median:", np.median(rounded_arr))

Min: 0.19
Max: 9.44
Median: 5.119999999999999

### Subquestion 3

In [13]:
modified_arr = rounded_arr.copy()
print("Array of elements with value < 5:", modified_arr[modified_arr < 5])
modified_arr[modified_arr < 5] = modified_arr[modified_arr < 5] ** 2
print("Modified Array:", modified_arr)

Array of elements with value < 5: [4.56 0.19 3.6  4.37 0.6  2.1  1.29 3.15 3.64 4.39]
Modified Array: [20.7936  5.68    0.0361  6.18    6.12    6.17    9.44    6.82   12.96
 19.0969  6.98    0.36    6.67    6.71    4.41    1.6641  9.9225 13.2496
  5.7    19.2721]

### Subquestion 4

In [14]:
def numpy_alternate_sort(array):
    sorted_arr = np.sort(array)
    result = []
    left = 0
    right = len(sorted_arr) - 1

    while left <= right:
        if left == right:
            result.append(sorted_arr[left])
        else:
            result.append(sorted_arr[left])
            result.append(sorted_arr[right])
        left += 1
        right -= 1

    return np.array(result)

print(numpy_alternate_sort(arr))

[0.187898   9.43748079 0.60225472 6.97631196 1.28926298 6.81820299
 2.10382561 6.7063787  3.15428351 6.66766715 3.59507901 6.17635497
 3.63710771 6.16933997 4.37031954 6.12095723 4.38601513 5.7019677
 4.56150332 5.68433949]

## Question 3

In [15]:
import pandas as pd
import itertools

### Subquestion 1

In [17]:
names = ['Tony Stark', 'Peter Parker', 'Steve Rogers', 'Wanda Maximoff', 'Thor Odinson']
subjects = ['Math', 'Physics']

# Creating all permutations
records = list(itertools.product(names, subjects))

# Generating scores
scores = np.random.randint(50, 101, size=len(records))

# Creating DataFrame
df = pd.DataFrame(records, columns=['Name', 'Subject'])
df['Score'] = scores
df['Grade'] = ''  # Initially empty

# Assigning grades
def assign_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

df['Grade'] = df['Score'].apply(assign_grade)
df

             Name  Subject  Score Grade
0      Tony Stark     Math     70     C
1      Tony Stark  Physics     85     B
2    Peter Parker     Math     73     C
3    Peter Parker  Physics     65     D
4    Steve Rogers     Math     63     D
5    Steve Rogers  Physics     71     C
6  Wanda Maximoff     Math     98     A
7  Wanda Maximoff  Physics     99     A
8    Thor Odinson     Math     55     F
9    Thor Odinson  Physics     91     A

### Subquestion 2

In [19]:
sorted_df = df.sort_values(by='Score', ascending=False)
sorted_df

             Name  Subject  Score Grade
7  Wanda Maximoff  Physics     99     A
6  Wanda Maximoff     Math     98     A
9    Thor Odinson  Physics     91     A
1      Tony Stark  Physics     85     B
2    Peter Parker     Math     73     C
5    Steve Rogers  Physics     71     C
0      Tony Stark     Math     70     C
3    Peter Parker  Physics     65     D
4    Steve Rogers     Math     63     D
8    Thor Odinson     Math     55     F

### Subquestion 3

In [20]:
average_scores = df.groupby('Subject')['Score'].mean()
average_scores

Subject
Math       71.8
Physics    82.2
Name: Score, dtype: float64

### Subquestion 4

In [21]:
def pandas_filter_pass(dataframe):
    return dataframe[dataframe['Grade'].isin(['A', 'B'])]

# Appling the filter function on our local DataDrame
passed_df = pandas_filter_pass(df)
passed_df

             Name  Subject  Score Grade
1      Tony Stark  Physics     85     B
6  Wanda Maximoff     Math     98     A
7  Wanda Maximoff  Physics     99     A
9    Thor Odinson  Physics     91     A

## Question 4

### Subquestion 1

In [24]:
import pandas as pd
import random
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import MultinomialNB 
from sklearn.metrics import accuracy_score




# Ssynthetic data
positive_reviews = ["I loved this movie! It was fantastic." for _ in range(50)]
negative_reviews = ["I hated this movie. It was terrible." for _ in range(50)]

# Using various usages by randomizing
positive_reviews = [review.replace("loved", random.choice(["loved", "enjoyed", "liked", "adored", "appreciated"])) 
                    for review in positive_reviews]
negative_reviews = [review.replace("hated", random.choice(["hated", "disliked", "detested", "abhorred", "loathed"])) 
                    for review in negative_reviews]

reviews = positive_reviews + negative_reviews
sentiments = ["positive"] * 50 + ["negative"] * 50

df = pd.DataFrame({"Review": reviews, "Sentiment": sentiments})

# Tokenization with CountVectorizer
vectorizer = CountVectorizer(max_features=500, stop_words='english')
X = vectorizer.fit_transform(df["Review"])
y = df["Sentiment"]

### Subquestion 2

In [25]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Subquestion 3

In [26]:
# Train Multinomial Naive Bayes
model = MultinomialNB()
model.fit(X_train, y_train)

# Test accuracy
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Test Accuracy: {accuracy:.2f}")

Test Accuracy: 1.00

### Subquestion 4

In [35]:
# Prediction function
def predict_review_sentiment(model, vectorizer, review):
    review_vector = vectorizer.transform([review])
    prediction = model.predict(review_vector)[0]
    return prediction

# An Example
example_review = "The movie was boring and a complete waste of time."
print("Predicted Sentiment:", predict_review_sentiment(model, vectorizer, example_review))

Predicted Sentiment: negative